/*Variables*/
$font-header: 'Nunito' , 'sans-serif';
$font-text: 'Merriweather' , 'sans-serif';
$color-gold: #e2c156f6;
/*Body*/
body {
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
}
/*splash*/
.splash {
    max-width: 1140px;
    height: 400px;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
    background-image: url("https://images.pexels.com/photos/389819/pexels-photo-389819.jpeg");
    background-size: 100%;
}
.navigation {
    display: inline;
    .navbar-brand {
        color: $color-gold;
        font-family: $font-header;
        font-size: 48px;
        font-style: italic;
        padding: 0 0 0 96px;
        margin: 16px 0;
    }
    ul {
        list-style: none;
        padding: 0 0 0 240px;
        li {
            display: inline-block;
            position: relative;
            padding: 0 10px;
            a {
                text-decoration: none;
                font-family: $font-text;
                color: #ffffff;
            }
        }
    }
}
.splash-inner {
    position: absolute;
    object-fit: cover;
    width: 900px;
    height: 400px;
    margin-left: 140px;
    display: flex;
    align-items: baseline;
    h1 {
        font-family: $font-header;
        font-size: 46px;
        color: #ffffff;
        width: 800px;
        position: absolute;
        object-fit: cover;
        line-height: 120px;
    }
    h2 {
        font-family: $font-text;
        font-size: 24px;
        font-style: italic;
        width: 800px;
        color: #ffffff;
        position: absolute;
        object-fit: cover;
        line-height: 8px;
    }
}
.splash-btn {
    position: absolute;
    margin: 140px 0 0 340px;
    width: 120px;
    height: 30px;
    color: #ffffff;
    font-family: $font-header;
    font-size: 10px;
    text-decoration: none;
    border-style: solid;
    background: $color-gold;
    border-color: $color-gold;
}
/*service*/
.service {
    justify-content: center;
    text-align: center;
    .service-header {
        justify-items:  center;
        h1 {
            font-family: $font-header;
        }
        p {
            font-family: $font-text;
            font-style: italic;
        }
    }
    .service-card {
        padding-top: 36px;
        i {
            color: $color-gold;
            border-radius: 50%;
            border-style: solid;
            border-width: 2px;
            width: 40px;
            height: 40px;
            font-size: 24px;
            padding-top: 5px;
        }
        h2 {
            font-family: $font-header;
        }
        p {
            font-family: $font-text;
        }
    }
}

/*portfolio*/
.portf-all {
    background-color: lightgrey;
}
.port-box {
    flex-direction: column;
    text-align: center;
    .portfolio {
        margin-top: 24px;
        width: 200px;
    }
    a {
        text-decoration: none;
        font-family: $font-header;
        font-weight: bold;
        font-size: 16px;
        color: black;
        span {
            font-family: $font-text;
            font-style: italic;
            font-size: 12px;
            color: black;
        }    
    }  
}
.portfolio-foto {
    width: 90%;
    height:300px;
}
/*footer*/
footer {
    margin-top: 96px;
    width: 100%;
    background-color: white;
    ul {
        padding-left: 250px;
        li {
            display: inline-block;
            list-style: none;
            font-size: 0;
            background: #000000;
            width: 30px;
            height: 30px;
            line-height: 30px;
            border-radius: 50%;
            i {
                font-size: 14px;
                color: #ffffff;
                margin: 8px 0 0 8px;
            }
        }
    }
}
.footer-text {
    padding-left: 35px;
}
.fa-facebook-f {
    margin: 8px 0 0 12px;
}
.fa-pinterest-p {
    margin: 8px 0 0 10px;
}
.footer-box {
    background-color: white;
}
@media (max-width: 767px) {
    .navigation {
        ul {
            padding: 0;
            font-size: 12px;
        }
    }
    .splash-inner {
        /*width: 900px;
        height: 400px;*/
        margin: 0 0 0 40px;
        text-align: left;
        h1 {
            font-size: 24px;
            line-height: 40px;
        }
        h2 {
            font-size: 12px;
        }
    }
    .splash-btn {
      margin: 140px 0 0 100px;
      width: 75px;
    }
    footer {
        ul {
            padding-left: 120px;
        }
    }

}    